<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jobfinder.jobfinderandroid">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JobFinderAndroid">
        <activity
            android:name=".ScheduleApplicant"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".JobApply"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmployerProfile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantInfo"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantList"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmployerEditJob"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".JobView"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmployerPostedJobs"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmployerSettings"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmployerDashboard"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SettingsPassword"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SettingsEmail"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantSettings"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantProfile"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantJobList"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmployerSignIn"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantDashboard"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantSignUp"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ApplicantSignIn"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".EmployerSignUp"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/title_activity_splashscreen"
            android:theme="@style/Theme.JobFinderAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>